<h2>Welcome, <%= current_user.username %></h2>

<h3>Browse recipes by type:</h3>
<a href="/recipes/type/Entrees">Entrees</a>  |  
<a href="/recipes/type/Desserts">Desserts</a>  |  
<a href="/recipes/type/Breads">Breads</a>  |  
<a href="/recipes/type/Salads">Salads</a>  |  
<a href="/recipes/type/Soups">Soups</a>  |  
<a href="/recipes/type/Snacks">Snacks</a>  |  
<a href="/recipes/type/Beverages">Beverages</a>  |  
<a href="/recipes/type/Other">Other</a>  |  
<a href="/recipes">All Recipes</a> 
<br><br>

<ul>
<% @recipes.each do |r| %>
    <li> <a href="/recipes/<%=r.id%>"><%= r.name %></a></li>
<% end %>
</ul>