<h2>Welcome, <%= current_user.username %></h2>

<a href="/<%= current_user.slug %>/cookbook">View your Cookbook</a><br>
<a href="/recipes/new">Create a Recipe</a><br>
<a href="/logout">Log Out</a><br><br>

<h3>All Recipes</h3>

<ul>
<% @recipes.each do |r| %>
    <li> <a href="/recipes/<%=r.id%>"><%= r.name %></a></li>
<% end %>
</ul>