<h2><%= @user.username %>'s Cookbook</h2>
<a href="/recipes"><button type="button">Return to All Recipes</button></a><br><br>

<ul>
<% @recipes.each do |r| %>
    <li> <a href="/recipes/<%=r.id%>"><%= r.name %></a></li>
<% end %>
</ul>