    <h2>Welcome to Cookbook Community</h2>
    <div class="content">
      <p>Cookbook Community is a recipe sharing site. Users can create their own account and contribute recipes to the community library. See a recipe you like? Add it to your personal cookbook. Sign up below to get started.</p>
      <p>To continue, please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a></p>
    </div>


