    <h2>About Cookbook Community</h2>
    <div class="content">
      <p>Cookbook Community is a recipe sharing site. Users can create their own account and contribute recipes to the community library. See a recipe you like? Add it to your personal cookbook.</p>
      <p>This app is a portfolio project for Flatiron School's Online Software Engineering Program, created by Leonor Colbert. It is a CRUD, MVC app built using Sinatra. 
      For more information on the making of this app, please <a href="https://leonorpdx.github.io/">read the blog</a> or <a href="https://leonorpdx.github.io/">watch the video.</a></p>
    </div>


