<!DOCTYPE html>

  <head>
    <title>CookbookCommunity</title>
    <link rel="shortcut icon" href="public/cc-favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">

    <%= yield %>


  <footer>
  </footer>
  </div>
  </body>
</html>