<!DOCTYPE html>
  <head>
    <title>CookbookCommunity</title>
    <link rel="shortcut icon" href="public/cc-favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <header><img src="/images/cc-med.png"><br><br></header>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>CookbookCommunity</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>

  </body>
</html>