<!DOCTYPE html>

  <head>
    <title>CookbookCommunity</title>
    <link rel="shortcut icon" href="public/cc-favicon.ico" type="image/x-icon" />
  </head>
  <body>

    <%= yield %>

  </body>
</html>