<!DOCTYPE html>
  <head>
    <title>CookbookCommunity</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <header><img src="/images/cc-med.png">
      <nav>
        <ul>
        <% if logged_in? %>
          <li><a href="/recipes">All Recipes</a></li>
          <li><a href="/<%= current_user.username %>/cookbook">My Cookbook</a></li>
          <li><a href="/recipes/new">Create Recipe</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/logout">Log Out</a></li>
        <% else %>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
          <li><a href="https://leonorpdx.github.io/cookbook_community_sinatra_project">Blog</a></li>
          <li><a href="https://www.youtube.com/watch?v=4tjBlS7e9Ug">Video</a></li>
          <li><a href="https://github.com/LeonorPDX/sinatra-crud-cookbook-community/">GitHub</a></li>
        <% end %>
        </ul>
      </nav>
      <br><br>
      </header>

        <%= yield %>

      <footer class="branding">
      <div class="row">
        <div class="column"><small>&copy; 2020 <strong>CookbookCommunity</strong></small></div>
        <div class="column"><small>Made with &#128155; by <a href="https://www.linkedin.com/in/leonorcolbert/">LeonorPDX</a></small></div>
      </div>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>

  </body>
</html>